.bar {
  display: grid;
  place-items: center;
}
.icon {
  width: 100px;
  border-radius: 50%;
}

.logo {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 50%;
}

.css-1q39md6-MuiButtonBase-root-MuiButton-root {
  margin: 10px !important;
  font-size: 1rem !important;
}
